From: [FROM_ADDR]
To: [TO_ADDR]
Subject: Misuse [SERVER] (Wait I know you)

Dear [FULLNAME],

On [TIME] you have committed crimes against [SERVER] and its users. What say you in your defense?


Yours sincerely,
[SERVER] automated violation detection

P.S. The system is in its testing phase, therefore this mail may be ignored.
