From: [FROM_ADDR]
To: [TO_ADDR]
Subject: Misbruik [SERVER]

Beste [FULLNAME],

Op [TIME] hebt u een of meerdere ovetredingen begaan op de [SERVER]. Deze mail was bedoeld voor: [TO_ADDR]

Met vriendelijke groet,
E. R. van der Zande

P.S. Dit is een automatisch gegenereerde mail, het is niet de bedoeling dat u er op reageert. Op dit moment wordt het systeem getest, en deze mail kan worden genegeerd.
